<p>Current match id: {{currentMatchId$|async}}</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Stats</th>
      <th scope="col">Win rate</th>
      <th scope="col">Loss rate</th>
      <th scope="col">Tie rate</th>
      <th scope="col">Rounds played</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div>&nbsp;</div>
        <div>Rounds</div>
      </td>
      <td>
        <div>
          {{currentMatchMetrics.victoryRate|percent}}
        </div>
        <div>
          {{currentMatchMetrics.victories}}/{{currentMatchMetrics.roundsPlayed}}
        </div>
      </td>
      <td>
        <div>
          {{currentMatchMetrics.lossRate|percent}}
        </div>
        <div>
          {{currentMatchMetrics.losses}}/{{currentMatchMetrics.roundsPlayed}}
        </div>
      </td>
      <td>
        <div>
          {{currentMatchMetrics.tieRate|percent}}
        </div>
        <div>
          {{currentMatchMetrics.ties}}/{{currentMatchMetrics.roundsPlayed}}
        </div>
      </td>
      <td>
        <div>&nbsp;</div>
        <div>
          {{currentMatchMetrics.roundsPlayed}}
        </div>
      </td>
    </tr>
  </tbody>
</table>