<ng-container *ngIf="!isDisabled && handShape; else disabledHandShape">
    <div class="card border-primary mb-3 hand-shape-card pointer" [class.bg-primary]="isHover"
        (mouseover)="isHover = true" (mouseout)="isHover = false"
        (click)="!isDisabled && evtClick.emit(handShape)">
        <div class="card-body flex-center flex-column" [ngClass]="isHover ? 'text-white' : 'text-primary'">
            <div class="card-text h-100">
                <div class="flex-center h-100">
                    <i *ngIf="handShape" class="fa-solid hand-shape-icon" [ngClass]="shapeIdToIcon[handShape.id]"></i>
                </div>
            </div>
            <footer>
                <b>{{handShape.name}}</b>
            </footer>
        </div>
    </div>
</ng-container>
<ng-template #disabledHandShape>
    <div class="card mb-3 hand-shape-card bg-disabled">
        <div class="card-body flex-center flex-column">
            <div class="card-text h-100">
                <div class="flex-center h-100">
                    <i *ngIf="handShape" class="fa-solid hand-shape-icon" [ngClass]="shapeIdToIcon[handShape.id]"></i>
                    <i *ngIf="!handShape" class="fa-solid fa-question hand-shape-icon"></i>
                </div>
            </div>
        </div>
    </div>
</ng-template>