<h1>Rock Paper Scissors</h1>

<div class="row">
  <div class="col-12">
    <span>How many rounds do you want to play per match?</span>
    <div>Current rounds per match: {{currentRoundsPerMatch}}</div>

    <form #roundsForm="ngForm">
      <div class="form-group">
        <label for="roundsPerMatch">New rounds per match</label>
        <input type="number"
          name="newRoundsPerMatch"
          [(ngModel)]="newRoundsPerMatch"
          min="1"
          class="form-control"
          id="roundsPerMatch"
          placeholder="Rounds" />
      </div>

      <button class="btn btn-primary"
        [disabled]="roundsForm.invalid"
        (click)="changeRoundsPerMatch(newRoundsPerMatch)">
        Change the rounds per match (reset stats)
      </button>
    </form>
  </div>
</div>

<!-- User needs to select an action -->
<app-user-hand-shape-input *ngIf="{matchId: matchId$|async, handShapes: handShapes$|async} as data"
  [matchId]="data.matchId!"
  [handShapes]="data.handShapes!"
  [isMatchFinished]="matchResult !== undefined"
  [currentRound]="currentRound"
  [roundsPerMatch]="currentRoundsPerMatch"
  (evtShapeSelected)="fightRound(data.matchId!, $event)"
  (evtNewMatch)="createMatch()">
</app-user-hand-shape-input>
<!-- END User needs to select an action -->

<!-- Shapes outcome of the round -->
<app-round-outcome-hand-shapes [userSelectedShape]="userSelectedShape"
  [cpuHandShape]="(cpuHandShape$|async)!"
  [currentRound]="currentRound"
  [roundOutcome]="(roundOutcome$|async)!">
</app-round-outcome-hand-shapes>
<!-- END Shapes outcome of the round -->

<!-- Round Result: Victory, loss or tie -->
<div id="round-outcome"
  class="h2 pt-3 pr-3 pb-3 border border-light">
  <span class="pt-1 pb-1">
    Round {{currentRound === 1? '?' : currentRound-1}} outcome:
  </span>
  <span *ngIf="roundOutcome$|async as roundOutcome; else outcomePending"
    [class.outcome-tie]="roundOutcome.isTie"
    [class.outcome-win]="roundOutcome.isUserVictory"
    [class.outcome-loss]="!roundOutcome.isTie && !roundOutcome.isUserVictory"
    class="outcome p-1 pl-3 pr-3">
    {{roundOutcome.isTie ? 'Tie' : (roundOutcome.isUserVictory ? 'Victory' : 'Loss')}}
  </span>
  <ng-template #outcomePending>
    <span class="outcome p-1 pl-3 pr-3">-</span>
  </ng-template>
</div>
<!-- END Round Result: Victory, loss or tie -->

<!-- Match Result: Victory, loss or tie -->
<div *ngIf="matchResult"
  id="match-round-result"
  class="h2 pt-3 pr-3 pb-3 border border-light">
  <span class="pt-1 pb-1">
    Match {{matchId$|async}} outcome:
  </span>
  <span [class.outcome-tie]="matchResult === DD_FIGHT_ROUND_RESULT.Tie"
    [class.outcome-win]="matchResult === DD_FIGHT_ROUND_RESULT.Victory"
    [class.outcome-loss]="matchResult === DD_FIGHT_ROUND_RESULT.Loss"
    class="outcome p-1 pl-3 pr-3">
    {{matchResultToString(matchResult)}}
  </span>
  <ng-template #outcomePending>
    <span class="outcome p-1 pl-3 pr-3">-</span>
  </ng-template>
</div>
<!-- Match END Result: Victory, loss or tie -->

<div class="h2 pt-3 pr-3 pb-3 border border-light">
  <button class="btn btn-primary"
    (click)="askCreateMatch()">New match (reset stats)</button>
</div>

<div *ngIf="errors$|async"
  id="server-errors">
  There was an unexpected server error :(
</div>