<h1>Rock Paper Scissors</h1>

<app-user-rounds-per-match-input [currentRoundsPerMatch]="roundsPerMatch"
  (evtChangeRoundsPerMatch)="changeRoundsPerMatch($event)">
</app-user-rounds-per-match-input>

<!-- User needs to select an action -->
<app-user-hand-shape-input *ngIf="matchId$|async as matchId"
  [isMatchFinished]="matchOutcome !== undefined"
  [currentRound]="currentRound"
  [roundsPerMatch]="roundsPerMatch"
  (evtShapeSelected)="fightRound(matchId, $event)"
  (evtNewMatch)="createMatch()">
</app-user-hand-shape-input>
<!-- END User needs to select an action -->

<!-- Shapes outcome of the round -->
<app-round-outcome-hand-shapes [userHandShape]="(userHandShape$|async)!"
  [cpuHandShape]="(cpuHandShape$|async)!"
  [currentRound]="currentRound">
</app-round-outcome-hand-shapes>
<!-- END Shapes outcome of the round -->

<!-- Round Result: Victory, loss or tie -->
<app-outcome [outcome]="(roundOutcome$|async)?.resultDto?.id"
  [header]="'Round ' + (currentRound === 1? '?' : currentRound-1)+ ' outcome:'">
</app-outcome>
<!-- END Round Result: Victory, loss or tie -->

<!-- Match Result: Victory, loss or tie -->
<app-outcome [outcome]="matchOutcome"
  [header]="'Match id ' + (matchId$|async)+ ' outcome:'">
</app-outcome>
<!-- Match END Result: Victory, loss or tie -->

<div class="h2 pt-3 pr-3 pb-3 border border-light">
  <button class="btn btn-primary"
    (click)="askCreateMatch()">New match (reset stats)</button>
</div>

<div *ngIf="errors$|async"
  id="server-errors">
  There was an unexpected server error :(
</div>